<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#7CB342">
    <meta name="description" content="Minecraft Bingo - Find people who match the questions and mine your way to victory!">
    <title>Minecraft Bingo - Social Mining Game</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <script src="/static/js/htmx.min.js"></script>
</head>
<body>
    <div id="app">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
